.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  justify-items: center;
  background-color: white;
  padding-top: 90px;
}

.header__menu {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;

  list-style: none;
  margin-left: 15px;
  padding-top: 44px;
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
}

.header__links-list {
  display: flex;
  justify-content: space-between;
  list-style: circle;
  gap: 33px;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__links-list-item_activ {
  text-decoration: none;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.address {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 18px;
  max-width: 235px;
  font-style: normal;
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
}

.header__address {
  margin-left: 132px;
  padding-bottom: 5px;
  line-height: 24px;
    padding-top: 4px;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.cover__title {
  grid-column: 1 /12;
  grid-row: 1 / 9;
}

.description_texst {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 100px;
  line-height: 114px;
  letter-spacing: 30px;
  text-transform: uppercase;
  z-index: 2;
  color: white;
}

.text-left {
  grid-column: 1/5;
  grid-row: 3/5;
  margin-right: 20px;
  margin-bottom: 10px;
}

.text-center {
  grid-column: 4/8;
  grid-row: 4/8;
  margin-left: 30px;
  margin-bottom: 40px;
}

.text-right {
  grid-column: 7/12;
  grid-row: 6/8;
  margin-right: 15px;
  margin-top: 75px;
}

.cover {
  position: relative;
  margin-top: 93px;
  width: 100%;
  min-height: 757px;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: repeat(10, 10%);
  justify-items: center;
  align-items: center;
  max-height: 757px;
}

.cover__description_box {
  grid-column: 1/12;
  grid-row: 9/11;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  word-spacing: 19.5px;
}

.cover__description-text {
  color: white;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  z-index: 1;
  margin-top: 3px;
}

.button {
  justify-items: center;
  align-items: center;
  color: white;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  z-index: 1;
  background-color: transparent;
  width: 256px;
  height: 51px;
  border: 1px solid white;
  margin-left: 3px;
}

.lots {
  padding: 20px;
  margin-top: 159px;
}

.lots__heading {
  margin-left: 45px;
  font-family: Raleway;
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 0;
  margin-bottom: 20px;
}

.lots__card-list {
  list-style: Raleway, sans-serif;
  display: flex;
  gap: 25px;
  padding-top: 7px;
  padding-left: 5px;
}

.lots__card-list-item {
  width: 334px;
  min-height: 496px;
  flex-shrink: 0;
}

.card-link {
  text-decoration: none;
  height: 100%;
  display: block;
}

.card {
  position: relative;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card__content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px 40px 47px 40px;
  color: #fff;
  gap: 35px;
  height: 100%;
}

.card__title {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
  color: white;
  z-index: 2;
}

.card__text {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: white;
  z-index: 2;
}

.lots__look-more-link {
  display: inline-block;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  margin-top: 32px;
  margin-left: 45px;
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
}

.about {
  display: grid;
  margin-top: 105px;
  margin-left: 24px;
  width: 1052px;
  grid-template-columns: 1fr 2fr;
}

.about__column {
  display: flex;
  align-content: center;
  justify-items: center;
  padding-right: 15px;
  padding-top: 4px;
}

.background_logo {
  background-color: black;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  display: flex;
  margin: 27px 47px 300px 47px;
}

.about__logo {
  width: 148px;
  height: 114px;
  display: flex;
  margin: auto;
}

.about__title_box {
  display: flex;
  flex-direction: column;
  padding: 135px 5px 5px 9px;
}

.about__title {
  font-family: Raleway;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
  align-items: end;
}

.about__text_box {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  padding-top: 77px;
}
.about__text {
  padding-top: 25px;
}

.footer {
  margin-top: 200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: start;
  margin: 170px 24px 0;
}

.footer_address_text {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24.3px;
  font-style: normal;
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
  width: 260px;

  margin-right: 37px;
  margin-top: 6px;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
}

.footer__menu-list-item {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  list-style: none;
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
}

.footer_img {
  width: 48px;
  height: 48px;
}

.footer__social-list-item {
  display: flex;
  gap: 48px;
  margin-top: 7px;
  margin-left: 60px;
  list-style: none;
}

.footer__menu-list-top {
  margin-top: 8px;
}
